<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= name %> рдХреА рддрд░рдл рд╕реЗ рд▓реА рдЧрдпреА рд╢рдкрде</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/hastag.css">
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <script data-ad-client="ca-pub-4179074140543931" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
  
<body onload="playSound()">

<div id="myNav-left" onclick="openDoorAndPlaySound()" class="overlay overlay-left">
  <div class="text-door">рдЗрд╕ рджрд░рд╡рд╛рдЬреЗ<br>рдХрд░рдХреЗ рдЦреЛрд▓реЗ<br>рд╣рд╛рд╕рд┐рд▓</div>
  <div class="text-door-2"></div>
  <div class="handle handle-left"></div>
</div>
<div id="myNav-right" onclick="openDoorAndPlaySound()" class="overlay overlay-right">
  <div class="text-door">рдХреЛ рдХреНрд▓рд┐рдХ<br>рдФрд░ рдЬрд╛рдирдХрд╛рд░реА<br>рдХрд░реЗрдВ</div>
  <div class="text-door-2"></div>
  <div class="handle handle-right"></div>
</div>
<audio id="audioId" style="display:none;" controls autoplay="true">
  <source  src="/music/corona.mp3" type="audio/mpeg">
</audio>  
<marquee class="m1" behavior="scroll" direction="up" scrolldelay="0"> <br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
</marquee>
<marquee class="m2" behavior="scroll" direction="down" scrolldelay="0"> <br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
<img src="/images/corona.webp" height="30px" width="30px"><br><br>
</marquee>

<div class="mainContainer">
  <br>

  <h1 id="hashtag1" class="animated pulse infinite" style="font-family:SF Espresso Shack;font-size: 1.6em;">рдмреИрдареЗ рд░рд╣реМ рдЖрдкрдиреА рдХреБрдЯрд┐рдпрд╛ рдореЗрдВ рд╡рд░рдирд╛ рдорд┐рд▓реЛрдЧреЗ рдХрд┐рд╕реА рд▓реБрдЯрд┐рдпрд╛ рдореЗрдВ</h1>
  <h3 class="fromMessage" id="fromMessage"></h3>
  <h1 id="hashtag"  style="font-family:SF Espresso Shack;font-size: 1.6em;">#IndiaFightsCorona</h1>
  <h3 class="fromMessage" id="fromMessage"></h3>
  <br>
<div class="sandbox sandbox-correct-pronounciation">
  <h6 class="heading heading-correct-pronounciation">
    <em style="color:blueviolet;height: 20px;">рдореИрдВ</em>
  </h6>
</div>
    <br>
<h1 id="username" class="animated pulse infinite" style="font-family:SF Espresso Shack;"><%= name %></h1>
      <h3 class="fromMessage" id="fromMessage"></h3>
<br>
      <center><div class="w3-content w3-section" style="max-width:500px">
<img class="mySlides" src="/images/corona.webp" style="width: 75%; height: 250px; display: none;">
<img class="mySlides" src="/images/corona2.png" style="width: 75%; height: 250px; display: none;"></div></center>
<br>
<div class="GodMessage" style="text-shadow: 1px 1px 3px silver, 1px 1px 3px silver, -1px -1px 3px silver, -1px -1px 3px silver;font-size:27px">
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;"><span style="color: red;">рдХреЛрд░реЛрдирд╡рд╛рдпрд░рд╕</span> рдХреЗ рдЦрд┐рд▓рд╛рдл <span style="color: red;">рд▓рдбрд╝рдиреЗ</span></em>
    </h6>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;">рдХреЗ рд▓рд┐рдП рдЕрдкрдиреА <span style="color: red;">рд╕рд░рдХрд╛рд░</span> рдХреЗ рд╕рд╛рде</em>
    </h6>
  </div>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:blue;font-size: 1.3em;height: 40px;">рдЦрдбрд╝реЗ рд╣реЛрдиреЗ рдХреА <span style="color: red;">рд╢рдкрде</span> рд▓реЗрддрд╛ рд╣реВрдВред</em>
    </h6>
  </div>

  <br>
  <div class="sandbox sandbox-correct-pronounciation">
    <h6 class="heading heading-correct-pronounciation">
      <em style="color:violet;font-size: 1.2em;height: 40px;">рдХреГрдкреНрдпрд╛ рдЗрди рдмрд╛рддреЛрдВ рдХрд╛ рд░рдЦреЗрдВ рдзреНрдпрд╛рди & рд╢реЗрдпрд░ рдЬрд░реВрд░ рдХрд░реЗ</em>
    </h6>
  </div>
  <center><img  src="/images/points_corona.png" style="width: 100%; height: 100%; padding-left: 12px; padding-top: 20px;"></center>
<div class="enter-name">
  <input class="animated pulse infinite" type="name" required="" maxlength="50" name="n" id="sharename" placeholder="ЁЯСЙрдирд╛рдо рд▓рд┐рдЦреЗрдВ рдФрд░ рдЖрдкрдиреА рд╢рдкрде рд▓реЗ....">
  <a href="" id="whatsapp-share" title="Share on whatsapp"><button onclick="whatsappShare()" class="btn animated shake infinite" ><span>ЁЯСЙ </span> рднреЗрдЬреЗрдВ </button></a>
</div>

<script>
  
  function whatsappShare() {
    const name = document.getElementById('sharename').value || 'рдЖрдкрдХреЗ рджреЛрд╕реНрдд';
    const anchor = document.getElementById('whatsapp-share');
    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/user');
    xhr.setRequestHeader('Content-type', 'application/json');
    xhr.send(JSON.stringify({ name }));
    xhr.onload = function() {
      console.log(`Loaded: ${xhr.status} ${xhr.response}`);
    };

    xhr.onerror = function() {
      console.log(`Network Error`);
    };

    xhr.onprogress = function(event) { // triggers periodically
      console.log(`Received ${event.loaded} of ${event.total}`);
    };

    const parsedName = name.split(' ').join('%2520');
    const link = `https://ewishes.herokuapp.com/?n=${parsedName}`
    let text = `whatsapp://send?text=*${name}* рдиреЗ рдЖрдкрдХреЗ рд▓рд┐рдП рдХреБрдЫ рднреЗрдЬрд╛ рд╣реИ%0aрдЗрд╕ рдмреНрд▓реВ рд▓рд╛рдЗрди рдХреЛ рдЯрдЪ рдХрд░рдХреЗ рдЬрд▓реНрджреА рджреЗрдЦреЛ%0aЁЯТе ЁЯФе ЁЯШ▒ ЁЯШ▒ ЁЯСЗ ЁЯСЗ%0a${link}%0aрдХреЛрд░реЛрдирд╛ рд╕реЗ рдмрдЪреЗ рдХреНрдпреВрдВрдХреА%0a*рд╕реБрд░рдХреНрд╖рд╛ рдЬреАрд╡рди рдХрд╛ рдЕрд░реНрде рд╣реИ*%0a*рд╕реБрд░рдХреНрд╖рд╛ рдХреЗ рдмреАрдирд╛ рд╕рдм рд╡реНрдпрд░реНрде рд╣реИ*`; 
    anchor.href = text.split(' ').join('%20');
    
  }

</script>  
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}


function openDoorAndPlaySound() {
  let sound = document.getElementById("audioId");
  sound.currentTime = 0;
  sound.loop = true; //if you want it to restart playing automatically when it ends
  sound.play();
  document.getElementById("myNav-left").style.width = "0%";
  document.getElementById("myNav-right").style.width = "0%";
}
</script>

</div></div></div>