<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title><%= name %> की तरफ से गणपति आगमन की हार्दिक शुभकामनाएँ</title>
    <link  rel="stylesheet" href="/stylesheets/curtains.css" >
  </head>
  <body>
    <%- include('curtains') %>
  </body>
</html>